<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Server | <%= page %></title>
</head>
<body>
    <div class="header">
        <a href="/"><h1>Hello World</h1></a>
        <p>Continue the process</p>
    </div>

    <ul>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs">Blogs</a></li>
        <li><a href="/create">Create</a></li>
    </ul>

    <div class="goals">
        <p>Goals:</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus tenetur quia ex provident blanditiis ad delectus temporibus nisi dolor. Amet, at maxime! Necessitatibus, dolorum explicabo. Ut similique doloribus eaque magni.</p>
    </div>

</body>
</html>