<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="dashboardUMSVMS.css">
    <link rel="icon" type="image/jpg" href="img/OBSENTRY LOGOFAVICON-2.jpg">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
    crossorigin=""></script>
    <title>Dashboard | OBSENTRY</title>
</head>
<body>
    <!--header section starts-->
    <header class="navbar">
        <img src="img/OBSENTRY LOGO-2.png" alt="system-logo" class="system-logo">
        <h1 class="system">OBSENTRY</h1>
        <ul class="links">    
            <li><a href="#" class="about">About</a></li>
            <li><a href="#" class="destination">Destination</a></li>
            <li><a href="#" id="logout">Logout</a></li>
            <li><h2>Welcome <%= user.fullName %> </h2></li>
        </ul>
        
        <img src="img/menu_FILL0_wght400_GRAD0_opsz48.png" alt="menu-btn" class="menu-btn">
    </header>
    <!--header section ends-->

    <!--popup section starts-->
    <div class="about-modal">
        <div class="about-content">
            <span class="close-about">&times;</span>
            <h1>About</h1>
            <p>
                Vehicle Innovation is very frequent nowadays, they want
                to enhance passenger or driver experience in this fast
                pace era, with that said OBSENTRY gives a reliable 
                innovation in terms of vehicle monitoring. This is a one step                               
                forward in innovating the student vehicle in University of 
                Mindanao.
            </p>
        </div>
    </div>

    <div class="destination-modal">
        <div class="destination-content">
            <span class="close-destination">&times;</span>
            <img src="img/matina.jpg" alt="">
        </div>
    </div>
    <!--popup section ends-->

    <!--slides section starts-->
    <div class="img-slides">
        <div class="slide active">
            <img src="img/background3.jpg" alt="">
            <div class="info">
                <h2>BE Building</h2>
            </div>
        </div>
        <div class="slide">
            <img src="img/background7.jpg" alt="">
            <div class="info">
                <h2>GET Building</h2>
            </div>
        </div>
        <div class="slide">
            <img src="img/background6.jpg" alt="">
            <div class="info">
                <h2>DPT Building</h2>
            </div>
        </div>
        <div class="nav-slides">
            <div class="btn active"> </div>
            <div class="btn"> </div>
            <div class="btn"> </div>
        </div>
    </div> 
    <!--slides section ends-->

    <!--main section starts-->
    <main class="main">
        <div class="information"> 
            <h1>More Information</h1>
        </div>

        <div class="card1">
            <h2>Vehicle Passenger </h2>
            <br><br>
            <img src="img/number of passenger.png" alt="" class="number-of-passenger">       
            <h2><span id="passenger-count"></span> / 16</h2>
        </div>
        
        <div class="card2">
            <h2>Distance Traveled</h2> 
            <br><br>
            <img src="img/distance traveled.png" alt="" class="distance-traveled">       
            <h2><span id="distance-display"></span></h2>
        </div>

        <div class="card3">
            <h2>Air Quality</h2>
            <br><br>
            <img src="img/air quality.png" alt="" class="air-quality">       
            <h2><span id="co-display"></span> ppm</h2>
        </div>

        <div class="card4">
            <h2>Your Ride Count </h2>
            <br><br>
            <img src="img/your ride count.png" alt="" class="your-ride-count">       
            <span><h2><%= rideCount %></h2></span>
        </div>

        <div class="card5">
            <h1>Peak Hours</h1>          
            <canvas id="myBarChart"></canvas>     
        </div>        
 
        <div class="umgmap">
            <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
            <div class="umgmapstyle" id="map"></div>
        </div>     
    </main>
    <!--main section ends-->
 
    <!--footer section starts-->
    <footer class="footer">
        <div class="umlogo">
        <img src="img/UMlogo-transparent.png" alt="">
        </div>

        <div class="websites"> 
            <a href="https://umindanao.edu.ph/">Visit UM Official Website</a>
            <a href="https://umindanao.blackboard.com/">Visit UM Black Board</a>
            <a href="https://student.umindanao.edu.ph/login">Visit UM Student Portal</a>
        </div>

        <div class="media">
            <img src="img/facebook.png" alt="">
            <img src="img/youtube.png" alt="">
            <img src="img/twitter.png" alt="">
        </div>
    </footer>
    <!--footer section ends-->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script type="module" src="/js/frontendDashboard.js"></script>   
</body>
</html>