<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="dashboardUMSVMS.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
    crossorigin=""></script>
    <title>Dashboard | UMSVMS</title>
</head>
<body>
    <!--header section starts-->
    <header class="navbar">
        <h1 class="logo">OBSENTRY</h1>
        <ul class="links">    
            <li><a href="#">About</a></li>
            <li><a href="#">Destination</a></li>
            <li><a href="#">More info</a></li>
            <li><a href="#" id="logout">Logout</a></li>
            <li><h2>Welcome <%= user.fullName %> </h2></li>
        </ul>
        
        <img src="img/menu_FILL0_wght400_GRAD0_opsz48.png" alt="menu-btn" class="menu-btn">
    </header>
    <!--header section ends-->

    <!--slides section starts-->
        <div class="img-slides">
            <div class="slide active">
                <img src="img/background3.jpg" alt="">
                <div class="info">
                    <h2>BE Building</h2>
                </div>
            </div>
            <div class="slide">
                <img src="img/background7.jpg" alt="">
                <div class="info">
                    <h2>GET Building</h2>
                </div>
            </div>
            <div class="slide">
                <img src="img/background6.jpg" alt="">
                <div class="info">
                    <h2>DPT Building</h2>
                </div>
            </div>
            <div class="nav-slides">
                <div class="btn active"> </div>
                <div class="btn"> </div>
                <div class="btn"> </div>
            </div>
        </div> 
    <!--slides section ends-->

    <!--main section starts-->
    <main class="main">
        <div class="information"> 
            <h1>More Information</h1>
        </div>

        <div class="card1">
            <h1>Vehicle Passenger </h1>
            <br>
            <h1><span id="passenger-count"></span></h1>
        </div>

        <div class="card4">
            <h1>Peak hours</h1>
            <canvas id="myBarChart"></canvas>
            <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4"></script>
            <script type="module">
                import { initializeApp } from "https://www.gstatic.com/firebasejs/10.4.0/firebase-app.js";
                import { getDatabase, ref, set, get, child } from "https://www.gstatic.com/firebasejs/10.4.0/firebase-database.js";
                const firebaseConfig = {
                    apiKey: "AIzaSyAMYwrxpJqkVprEhcnCSgU7H3l4yPNKFIc",
                    authDomain: "monitoringthesis.firebaseapp.com",
                    databaseURL: "https://monitoringthesis-default-rtdb.asia-southeast1.firebasedatabase.app",
                    projectId: "monitoringthesis",
                    storageBucket: "monitoringthesis.appspot.com",
                    messagingSenderId: "790682496758",
                    appId: "1:790682496758:web:2dad0d5c6c9e8000dc86d7"
                };
            
                const app = initializeApp(firebaseConfig);
                const db = getDatabase(app);        

                async function fetchLoginData() {
                const times = [];
                const studentCounts = [];
                for (let i = 0; i < 24; i++) { // For every hour of the day
                    const hourRef = ref(db, 'login/' + i);
                    const snapshot = await get(hourRef);
                    times.push(i + ':00');
                    studentCounts.push(snapshot.exists() ? snapshot.val() : 0);
                }

                // Now create the chart with fetched data
                const ctx = document.getElementById('myBarChart').getContext('2d');
                    new Chart(ctx, {
                        type: 'horizontalBar',
                        data: {
                            labels: times,
                            datasets: [{
                                label: 'Number of Students',
                                data: studentCounts,
                                backgroundColor: Array(24).fill('rgba(75, 192, 192, 0.2)'), // Colors for the bars
                                borderColor: Array(24).fill('rgba(75, 192, 192, 1)'), // Colors for the bar borders
                                borderWidth: 1
                            }]
                        },
                        options: {
                            responsive: true,
                            maintainAspectRatio: false,
                            scales: {
                                x: {
                                    beginAtZero: true,
                                    title: {
                                        display: true,
                                        text: 'Number of Students'
                                    }
                                },
                                y: {
                                    title: {
                                        display: true,
                                        text: 'Time per Hour'
                                    }
                                }
                            }
                            
                        }
                    });
                }
                fetchLoginData();
        
            </script>
        </div>
        
        <div class="card2">
            <h1>Distance Traveled</h1> 
            <br>
            <h1><span id="distance-display"></span></h1>
        </div>

        <div class="card3">
            <h1>Air Quality</h1>
            <br>
            <h1><span id="co-display"></span> ppm</h1>
        </div>
 
        <div class="umgmap">
            <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
            <div class="umgmapstyle" id="map"></div>
        </div>     
    </main>
    <!--main section ends-->
 
    <!--footer section starts-->
    <footer class="footer">
        <div class="umlogo">
        <img src="img/UMlogo-transparent.png" alt="">
        </div>

        <div class="media">
            <img src="img/facebook.png" alt="">
            <img src="img/youtube.png" alt="">
            <img src="img/twitter.png" alt="">
        </div>
    </footer>
    <!--footer section ends-->

    <script src="/socket.io/socket.io.js"></script>
    <script src="<%= '/js/frontend.js' %>"></script>     
</body>
</html>