<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="loginUMSVMS.css">
    <link rel="icon" type="image/jpg" href="img/OBSENTRY LOGOFAVICON-2.jpg">
    <title>Login | OBSENTRY</title>
</head>

<body>
    <section>
        <div class="um">
            <img src="img/background2.jpg" alt="um matina">
        </div>

        <div class="header">
            <img src="img/OBSENTRY LOGO-2.png" alt="system-logo" class="system-logo">
            <h1>OBSENTRY</h1>
        </div> 
        
        <div class="login"> 
            <div class="box">
                <form action="">
                    <img src="img/University_of_Mindanao_Logo.bmp" alt="um logo"> 
                    <br><br>                   
                    <h2>MAIN</h2>
                    <br><br>     
                    <div class="inputbox">
                        <input type="text" name="studentid" id="studentid" placeholder="Enter ID Number..." required>
                    </div>
                    <br><br>
                    <div class="inputbox">
                        <input type="password" name="studentpass" id="studentpass" placeholder="Enter Password..." required>
                    </div>
                    <br><br>
                    <div class="remember">
                        <label><input type="checkbox" name="remember" id="remember"> Remember me</label>
                    </div>
                    <br>
                    <div class="submitbox">
                        <input type="submit" name="signin" id="signin" value="Sign in">
                    </div>
                    <br>
                </form>
            </div>    
        </div>
    </section>
   
    <script src="/socket.io/socket.io.js"></script>
    <script type="module" src="/js/frontendLogin.js"></script>
</body>
</html>