@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root{
    --red:#C70039;
    --blue:#427D9D;
    --black:#03001C;
    --yellow:#FFE569;
    --beige:#FFFaed;
    --white:#FFF;
    --grey:#757676;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    outline: none;
    border: none;
    text-decoration: none;   
}

body{
    display: grid;
    height: 100vh;
    background-color: var(--beige);
    grid-template-rows: 60px 570px 1fr 200px;
    gap: 10px;
    overflow-x: hidden;
}

.system{
    color: var(--blue);
}

.system-logo{
    position: absolute;
    top: 5px;
    left: 55px;
    width: 50px;
}

.navbar{
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    color: var(--red);
    box-shadow: 0 0 10px var(--black);
    background-color: var(--yellow);  
    width: 100%;
    padding: 10px;
    z-index: 3;
    grid-row: 1 / 2;
    padding-left: 100px;
    padding-right: 100px;
}

.destination-modal {
    display: none; 
    position: fixed; 
    z-index: 4; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

.destination-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 70%; 
    font-size: 25px;
}

.destination-content img{
    width: 100%;
    height: 80%;
}

.close-destination{
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close-destination:hover,
.close-destination:focus{
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.about-modal {
    display: none; 
    position: fixed; 
    z-index: 4; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

.about-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 50%; 
    font-size: 25px;
}

.close-about{
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close-about:hover,
.close-about:focus{
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.menu-btn{
    position: absolute;
    top: 10px;
    right: 20px;
    width: 40px;
    cursor: pointer;
    display: none;
}

.links{
    color: var(--blue);
    display: flex;
    list-style: none;
    align-items: center;
}

.links li{
    margin: 0 10px;  
}

a{
    position: relative;
    color: var(--black);
    font-weight: bold;
}

a:after{
    content: "";
    position: absolute;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

a:hover{
    color: var(--blue);
}

a:hover:after{
    width: 100%;
}

.img-slides{
    position: relative;
    width: 100%;
    height: 150px;
    grid-template-rows: 2 / 3;
}

.img-slides .slide{
    z-index: 1;
    position: absolute;
    width: 100%;
    clip-path: circle(0% at 0 50%);
}

.img-slides .slide.active{
    clip-path: circle(150% at 0 50%);
    transition: 2s;
    transition-property: clip-path;
}

.img-slides .slide img{
    
    z-index: 1;
    width: 100%;
    height: 600px;
    object-fit: cover;
}

.img-slides .slide .info{
    position: absolute;
    padding: 15px 30px;
    top: 100px;
}

.img-slides .slide .info h2{
    font-size: 60px;
    letter-spacing: 2px;
    background: rgba(0, 0, 0, 0.2);
    color: var(--white);
}

.img-slides .nav-slides{
    z-index: 2;
    position: absolute;
    display: flex;
    top: 500px;
    transform: translateX(50%);
    justify-content: center;
    align-items: center;    
}

.img-slides .nav-slides .btn{
    background: rgba(255, 255, 255, 0.7);
    width: 12px;
    height: 12px;
    margin: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.main{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-row: 3 / 4;
    grid-gap: 15px 15px;
    padding: 20px;
    margin-bottom: 50px;
}

.information{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    height: 100px;
}

.card1{
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: var(--white);
    box-shadow: 0px 5px 5px var(--grey);
    border-radius: 10px;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    gap: 10px;
    padding: 10px;
    width: 350px;
    height: 220px;
    font-size: 20px;
}
.card1 h3{
    align-self: flex-start;
}

.number-of-passenger{
    width: 40px;
    height: 40px;     
}

.card2{
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: var(--white);
    box-shadow: 0px 5px 5px var(--grey);
    border-radius: 10px;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    gap: 10px;
    padding: 10px;
    width: 350px;
    height: 220px;    
    font-size: 20px;
}

.card2 h3{
    align-self: flex-start;
}

.air-quality{
    width: 40px;
    height: 40px;    
}

.card3{
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: var(--white);
    box-shadow: 0px 5px 5px var(--grey);
    border-radius: 10px;
    grid-row: 2 / 3;
    grid-column: 3 / 4;
    gap: 10px;
    padding: 10px;
    width: 350px;
    height: 220px;   
    font-size: 20px;
}

.card3 h3{
    align-self: flex-start;
}

.distance-traveled{
    width: 40px;
    height: 40px;   
}

.card4{
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: var(--white);
    box-shadow: 0px 5px 5px var(--grey);
    border-radius: 10px;
    grid-row: 2 / 3;
    grid-column: 4 / 5;
    padding: 10px;
    gap: 10px;
    width: 350px;
    height: 220px;  
    font-size: 20px;
}

.card4 h3{
    align-self: flex-start;
}

.total-rides{
    width: 40px;
    height: 40px;   
}

.card5{
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: var(--white);
    box-shadow: 0px 5px 5px var(--grey);
    border-radius: 10px;
    grid-row: 3 / 5;
    grid-column: 1 / 3;
    padding: 10px;
    width: 710px;
    height: 500px;
}

#myBarChart{
    width: 90%;
    height: 500px;
}

.card6{
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: var(--white);
    box-shadow: 0px 5px 5px var(--grey);
    border-radius: 10px;
    grid-row: 3 / 5;
    grid-column: 3 / 4;
    padding: 10px;
    gap: 10px;
    width: 350px;
    height: 500px;  
    font-size: 20px;
}

.card7{
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: var(--white);
    box-shadow: 0px 5px 5px var(--grey);
    border-radius: 10px;
    grid-row: 3 / 5;
    grid-column: 4 / 5;
    padding: 10px;
    gap: 10px;
    width: 350px;
    height: 500px;  
    font-size: 20px;
}

.map-banner{
    display: flex;
    justify-content: space-between;
}

.um-map1{
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    grid-row: 5 / 7;
    grid-column: 1 / 3;
}

.focus-vehicle1{
    position: relative;
    font-weight: bold; 
    cursor: pointer;
    width: 130px;
    height: 40px;  
    border-radius: 10px; 
    border-style: solid;
    border-color: var(--black);    
}

.um-map1 .um-mapstyle1{
    display: flex;
    width: 700px;
    height: 500px;
    z-index: 0;
}

.um-map2{
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    grid-row: 5 / 7;
    grid-column: 3 / 5;
}

.focus-vehicle2{
    position: relative;
    font-weight: bold; 
    cursor: pointer;
    width: 130px;
    height: 40px;  
    border-radius: 10px;  
    border-style: solid;
    border-color: var(--black); 
}

.um-map2 .um-mapstyle2{
    display: flex;
    width: 700px;
    height: 500px;
    z-index: 0;
}

#map1 {
    width: 100%;
    height: 500px;  
}

#map2{
    width: 100%;
    height: 500px;   
}

.footer{
    display: grid;  
    justify-items: center;
    align-items: center;
    background-color: var(--yellow);
    grid-template-columns: repeat(3, 1fr);
    grid-row: 4 / 5;
}

.umlogo{
    display: flex;
    justify-content: center;
    width: 40px;
    height: 60px;
}

.websites{
    display: flex;
    flex-flow: column;
    align-items: center;    
    gap: 20px;
}

.media{
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 30px;
    height: 40px;    
}


@media only screen and (max-width: 850px) {

    .navbar{
        padding: 30px;
    }

    .about-content {
        width: 80%; 
    }

    .destination-content{
        width: 100%;
        height: 60%;
    }

    .destination-content img{
        width: 100%;
        height: 70%;
    }

    .system{
        position: fixed;
        top: 10px;
        left: 55px;
    }

    .system-logo{
        position: fixed;
        top: 5px;
        left: 10px;
    }

    .links{
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100vh; 
        margin-top: -900px;
        transition: all 0.5s linear;
    }

    a{
        font-size: 20px;
    }

    .mobile-menu{
        margin-top: 20px;
    }

    .menu-btn{
        display: block;
    }

    .navbar li{
        margin: 30px auto;
    }

    .img-slides .slide .info h2{
        font-size: 40px;
    }

    .main{
        padding: 0px;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
       
    }

    .um-map1{
        flex-direction: column;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .um-map2{
        flex-direction: column;
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    .information{
        display: flex;
        grid-column: 1 / 2;
        grid-row: 3 / 4;
        justify-content: center;
        align-self: end;
    }
    
    .card1{
        grid-column: 1 / 2;
        grid-row: 4 / 5;
        width: 270px;
        height: 210px;
        justify-self: center;
        align-self: center;
    }

    .card2{
        grid-column: 1 / 2;
        grid-row: 5 / 6;
        width: 270px;
        height: 210px;
        justify-self: center;
        align-self: center;
    }
    
    .card3{
        grid-column: 1 / 2;
        grid-row: 6 / 7;
        width: 270px;
        height: 210px; 
        justify-self: center;
        align-self: center;  
    }

    .card4{
        grid-column: 1 / 2;
        grid-row: 7 / 8;
        width: 270px;
        height: 210px; 
        justify-self: center;
        align-self: center;  
    }

    .card5{
        grid-column: 1 / 2;
        grid-row: 8 / 9;
        width: 270px;
        justify-self: center;
        align-self: center;  
    }

    .card6{
        grid-column: 1 / 2;
        grid-row: 9 / 10;
        width: 270px;
        height: 500px;
        justify-self: center;
        align-self: center;  
    }

    .card7{
        grid-column: 1 / 2;
        grid-row: 10 / 11;
        width: 270px;
        height: 500px;
        justify-self: center;
        align-self: center;  
    }
    
    #myBarChart {
        width: 100%;
        height: 100%;
        box-sizing: border-box; 
    }

    .um-map1 .um-mapstyle1{
        width: 320px;
        height: 450px;
        z-index: 0;
        justify-self: center;
        align-self: center;
    }

    .footer{
        display: grid;  
        justify-content: center;
        grid-template-columns: 1fr;
        width: 100%;
        height: 300px;      
    }

  
}